<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello json screen</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<form id="myForm">
    <p>이름 : <input id="name" type="text" name="name"> </p>
    <p>email : <input id="email" type="text" name="email"></p>
    <p>password : <input id="password" type="text" name="password"></p>
    <p><button type="button" onclick="sendData()">제출</button></p>
</form>
<script>
    async function sendData() {
        const jsonData = {
            name: document.getElementById("name").value,
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
        }
        try {
            const response = await axios({
                method: 'POST',
                url: "http://localhost:8080/hello/json-post-handle3",//hello-json-screen에서 넘긴 값을 json-post-handle1에서 받아줌
                data: JSON.stringify(jsonData), // 직렬화
                headers: {'Content-Type':'application/json'}
            });
            window.location.href='/hello/screen'; //값이 정상적으로 들어왔다면 화면 전환.
        }catch(e) {
         console.log(e);
         }
    }
</script>
</body>
</html>